body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.container{
display: grid;
grid-template-columns: 200px 200px 150px 100px;
row-gap: 12px;
column-gap: 14px;
}

input, .Delete-button{
    padding: 6px 12px;
}
.Delete-button{
    background-color: darkred;
    color: white;
    border: solid 1px red;
}

.button-Add{
    border: solid green 1px;
    background-color: green;
    color: white;
}
.p1{
   text-align: center;
   font-size: large;
}
button{
    cursor: pointer;
}
.container{
    margin-top: 10px;
}